.header {
    background-color: #e3bebe;
    width: 800px;
    border: 10px solid #832147;
    padding: 50px;
    margin: auto;
    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    min-height: 300px;
    padding: 10px;
}

.header__item+.header__item {
    margin-top: 5px;
}


.headerLabel {
    color: #1b1e1f;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.headerDetails {
    color: #86969C;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}